body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

button {
  padding: 3px 10px;
  margin: 4px 0;
  font-size: 15px;
}

#title {
  margin-top: 50px;
}

#container {
  width: 350px;
  background-color: lightcyan;
  text-align: center;
  padding: 30px 10px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 50px auto;
}
